.git
.github
.env
vendor
node_modules
npm-debug.log
yarn-error.log
docker-compose.yml
Dockerfile
.dockerignore
tests
phpunit.xml
.phpunit.cache
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
